



body{
    font-family: "inter",sans-serif;
    line-height: 1.5;
    color: #495057;
    font-weight: 400;
}
h1, h2, h3{
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-family: 'fregan serif',serif;
    color: #212529;
    text-align: center;
}
    





h1{
    font-size: 62px;
}

h2{
    font-size: 48px;
}    
h3{
    font-size: 40px;
}
p{
    font-size: 20px;
}

/* components */
.btn{
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    padding: 15px 30px;
}
.btn-primary:link,
.btn-primary:visited{
    color: #ffffff;
    background-color: #339AF0;
    border: 2px solid #339AF0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    color: #339AF0;
}
footer{
    text-align: center;
}


footer p{
    font-size: 12px;
}